<div class="key-container">
    <div class="form-container">
        <mat-card class="form-card" appearance="outlined">
            <mat-card-header>
                <mat-toolbar style="border-radius:6px; background-color: #54C964; color:#3C3E3D;">
                    <span>Api Key Generation</span>
                </mat-toolbar>
            </mat-card-header>
            <mat-card-content style="margin-top:1rem;">
                <p>Add your Charles Schwab app info below</p>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label style="color: #DBD4D1;">App Key</mat-label>
                    <input matInput type="password" [(ngModel)]="appKey"  required>
                </mat-form-field>
                 <mat-form-field appearance="outline" class="full-width">
                    <mat-label style="color: #DBD4D1;">Secret</mat-label>
                    <input matInput type="password" [(ngModel)]="appSecret"  required>
                </mat-form-field>
                <button mat-raised-button (click)="allowOAuth()">Allow</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>
