<div class="key-container">
    <div class="form-container">
        <mat-card class="form-card" appearance="outlined">
            <mat-card-header>
                <mat-toolbar style="border-radius:6px; background-color: #54C964; color:#3C3E3D;">
                    <span>Api Key Generation</span>
                </mat-toolbar>
            </mat-card-header>
            <mat-card-content style="margin-top:1rem;">
                <p>Allow this app to access you Charles Schwab account and it's information</p>
                <button mat-raised-button (click)="allowOAuth()">Allow</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>
