<ng-container *ngIf="isLoading">
  <mat-spinner [mode]="'indeterminate'" class="spinner"></mat-spinner>
  <div class="overlay"></div>
</ng-container>
<div
  style="display:flex; flex-direction: column; gap: 1rem; padding-left: .5rem; padding-right:.5rem; background-color: #3C3E3D;">
  <div style="display:flex; gap: 1rem; align-items: center;">
    <!-- <mat-checkbox *ngFor="let algo of listOfServerAlgos" (change)="algo.isSelected = !algo.isSelected"
      [checked]="algo.isSelected" class="example-margin">{{algo.name}}</mat-checkbox>
    <button style="margin-left:1rem;" mat-raised-button color="primary" (click)="saveAlgos()">Save</button> -->
    <mat-slide-toggle style="height: fit-content;" [(ngModel)]="intraDayChecked" (ngModelChange)="changeDayType()">Intra
      Day</mat-slide-toggle>
    <!--  <mat-form-field class="example-full-width" style="max-width: 110px; height: fit-content;">
      <mat-label>Buy Gutter</mat-label>
      <input matInput type="number" [(ngModel)]="buyGutter" placeholder="0.00" [min]=".001" step=".01">
    </mat-form-field>
    <mat-form-field class="example-full-width" style="max-width: 110px; height: fit-content;">
      <mat-label>Sell Gutter</mat-label>
      <input matInput type="number" [(ngModel)]="sellGutter" placeholder="0.00" [min]=".001" step=".01">
    </mat-form-field>
    <mat-form-field class="example-full-width" style="max-width: 140px; height: fit-content;">
      <mat-label>Check Gutter</mat-label>
      <input matInput type="number" [(ngModel)]="check200Gutter" placeholder="0.00" [min]=".001" step=".01">
    </mat-form-field>
    <mat-form-field *ngIf="intraDayChecked" class="example-full-width" style="max-width: 140px; height: fit-content;">
      <mat-label>Long Sma</mat-label>
      <input matInput type="number" [(ngModel)]="intraDayLongSma" placeholder="0.00" [min]="3600" [max]="5400" step="5">
    </mat-form-field>
    <mat-form-field *ngIf="intraDayChecked" class="example-full-width" style="max-width: 140px; height: fit-content;">
      <mat-label>Medium Sma</mat-label>
      <input matInput type="number" [(ngModel)]="intraDayMediumSma" placeholder="0.00" [min]="1200" [max]="3600" step="5">
    </mat-form-field>
    <mat-form-field *ngIf="intraDayChecked" class="example-full-width" style="max-width: 140px; height: fit-content;">
      <mat-label>Short Sma</mat-label>
      <input matInput type="number" [(ngModel)]="intraDayShortSma" placeholder="0.00" [min]="60" [max]="600" step="1">
    </mat-form-field>
    <mat-form-field *ngIf="!intraDayChecked" class="example-full-width" style="max-width: 140px; height: fit-content;">
      <mat-label>Long Sma</mat-label>
      <input matInput type="number" [(ngModel)]="interDayLongSma" placeholder="0.00" [min]="150" [max]="250" step="1">
    </mat-form-field>
    <mat-form-field *ngIf="!intraDayChecked" class="example-full-width" style="max-width: 140px; height: fit-content;">
      <mat-label>Medium Sma</mat-label>
      <input matInput type="number" [(ngModel)]="interDayMediumSma" placeholder="0.00" [min]="20" [max]="50" step="1">
    </mat-form-field>
    <mat-form-field *ngIf="!intraDayChecked" class="example-full-width" style="max-width: 140px; height: fit-content;">
      <mat-label>Short Sma</mat-label>
      <input matInput type="number" [(ngModel)]="interDayShortSma" placeholder="0.00" [min]="1" [max]="15" step="1">
    </mat-form-field>  -->
    <h3 style="margin-left: 1rem; color: #DBD4D1;">Add Indicator: </h3>
    <button style=" margin-top:auto; margin-bottom:auto;" mat-icon-button aria-label="Add Line"
      (click)="addLineToGraph()">
      <mat-icon style="color: #DBD4D1;">add</mat-icon>
    </button>
    <h3 style="margin-left: 1rem; color: #DBD4D1;">Add Rule: </h3>
    <button style=" margin-top:auto; margin-bottom:auto;" mat-icon-button aria-label="Add Line"
      (click)="addRuleToGraph()">
      <mat-icon style="color: #DBD4D1;">add</mat-icon>
    </button>
    <button style=" margin-top:auto; margin-bottom:auto;" mat-raised-button color="primary" aria-label="Clear Graph"
      (click)="clearGraphBuyAndSellPoints()">
      Clear
    </button>
    <button style=" margin-top:auto; margin-bottom:auto;" mat-raised-button color="primary" aria-label="Clear Graph"
      (click)="resetZoom()">
      Reset Zoom
    </button>
    <!-- <h3>Buy when: </h3>
    <mat-form-field *ngIf="intraDayChecked" class="example-full-width" style="max-width: 140px; height: fit-content;">
      <mat-label>Moving Average</mat-label>
      <input matInput type="number" [(ngModel)]="selectedBuyAvgOne" placeholder="0.00" [min]="1" [max]="3600" step="1">
    </mat-form-field>
    <mat-form-field style="width:fit-content;">
      <mat-label>Action</mat-label>
      <mat-select disableRipple [(value)]="selectedBuyAction">
        <mat-option *ngFor="let action of buyActions" value="{{action}}"
          (onSelectionChange)="onSelectedBuyActionChange($event)">{{action}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="selectedBuyAction == 'Is X amount below:'" class="example-full-width" style="max-width: 140px; height: fit-content;">
      <mat-label>Amount</mat-label>
      <input matInput type="number" [(ngModel)]="buyParamOne" placeholder="0.00" [min]=".001" [max]=".1" step=".001">
    </mat-form-field>
    <mat-form-field *ngIf="selectedBuyAction == 'Is X amount below:'" class="example-full-width" style="max-width: 140px; height: fit-content;">
      <mat-label>Compared Value</mat-label>
      <input matInput type="number" [(ngModel)]="buyParamCompare" placeholder="0.00" [min]="1" [max]="3600" step="1">
    </mat-form-field>

    <h3>Sell when: </h3>
    <mat-form-field *ngIf="intraDayChecked" class="example-full-width" style="max-width: 140px; height: fit-content;">
      <mat-label>Moving Average</mat-label>
      <input matInput type="number" [(ngModel)]="selectedSellAvgOne" placeholder="0.00" [min]="1" [max]="3600" step="1">
    </mat-form-field>
    <mat-form-field style="width:fit-content;">
      <mat-label>Action</mat-label>
      <mat-select disableRipple [(value)]="selectedSellAction">
        <mat-option *ngFor="let action of sellActions" value="{{action}}"
          (onSelectionChange)="onSelectedSellActionChange($event)">{{action}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="selectedBuyAction == 'Is X amount below:'" class="example-full-width" style="max-width: 140px; height: fit-content;">
      <mat-label>Amount</mat-label>
      <input matInput type="number" [(ngModel)]="sellParamOne" placeholder="0.00" [min]=".001" [max]=".1" step=".001">
    </mat-form-field>
    <mat-form-field *ngIf="selectedBuyAction == 'Is X amount below:'" class="example-full-width" style="max-width: 140px; height: fit-content;">
      <mat-label>Compared Value</mat-label>
      <input matInput type="number" [(ngModel)]="sellParamCompare" placeholder="0.00" [min]="1" [max]="3600" step="1">
    </mat-form-field>  -->
    <button style="margin-left:auto;" mat-raised-button color="primary" (click)="onRunSimulation()">Run Sim</button>
    <button style="margin-left:1rem;" mat-raised-button color="primary" (click)="onRunSimulationNew()">Run Sim All
      Days</button>
    <button style="margin-left:1rem;" mat-raised-button color="primary" (click)="onRunSimulationNewLoop()">Run Sim All
      Days Loop</button>
    <!-- <h4 style="margin-left:1rem; color: #DBD4D1;">Total: {{bankTotal | currency:'USD':'symbol'}}</h4> -->
    <h4 style="margin-left:1rem; color: #DBD4D1;">Total Profit: {{totalProfit | currency:'USD':'symbol'}}</h4>
    <button *ngIf="false" style="margin-left:1rem;" mat-raised-button color="primary"
      (click)="onRunEntireSimulation()">Run Full Sim</button>
    <button *ngIf="false" style="margin-left:1rem;" mat-raised-button color="primary"
      (click)="onRunEntireSimulationIntraDayAllDays()">Run Full Sim All Days</button>
    <div *ngIf="topAlgos.length > 0" style="background-color:#3C3E3D;">
      <mat-table [dataSource]="topAlgos"
        style="height:inherit; background-color:#3C3E3D; border-radius: 8px; border: 1px solid #DBD4D1;">
        <!-- Position Column -->
        <ng-container matColumnDef="Profit">
          <mat-header-cell *matHeaderCellDef> Profit </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.profit | currency:'USD':'symbol'}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="NoTrades">
          <mat-header-cell *matHeaderCellDef> No. Trades </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.numberOfTrades}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="BuyGutter">
          <mat-header-cell *matHeaderCellDef> Buy Gutter </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.buyBuffer | number:'1.2-5'}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="SellGutter">
          <mat-header-cell *matHeaderCellDef> Sell Gutter </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.sellBuffer | number:'1.2-5'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="CheckGutter">
          <mat-header-cell *matHeaderCellDef> Check Gutter </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.checkBuffer | number:'1.2-5'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="smaLong">
          <mat-header-cell *matHeaderCellDef> Long Sma </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.smaLong | number:'1.2-5'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="smaMedium">
          <mat-header-cell *matHeaderCellDef> Medium Sma </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.smaMedium | number:'1.2-5'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="smaShort">
          <mat-header-cell *matHeaderCellDef> Short Sma </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.smaShort | number:'1.2-5'}} </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns;"
          style="min-height:fit-content; background-color:#3C3E3D; color: #DBD4D1;"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
          style="min-height:fit-content; background-color:#3C3E3D; color: #DBD4D1;"></mat-row>
      </mat-table>

    </div>

  </div>
  <div style="display: flex; flex-direction: column;">
    <div *ngIf="resultsInfo.length > 0" style="width: 100%;">
      <mat-table [dataSource]="resultsInfo"
        style="height:inherit; background-color:#3C3E3D; border-radius: 8px; border: 1px solid #DBD4D1;">
        <!-- Position Column -->
        <ng-container matColumnDef="Profit">
          <mat-header-cell *matHeaderCellDef> Profit </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.profit | currency:'USD':'symbol'}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="NoTrades">
          <mat-header-cell *matHeaderCellDef> No. Trades </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.numberOfTrades}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Profit Factor">
          <mat-header-cell *matHeaderCellDef> Profit Factor </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.profitFactor | number:'1.2-5'}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Wins">
          <mat-header-cell *matHeaderCellDef> Wins </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.wins | number:'1.2-5'}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Losses">
          <mat-header-cell *matHeaderCellDef> Losses </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.losses | number:'1.2-5'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="AvgWinAmt">
          <mat-header-cell *matHeaderCellDef> AvgWinAmt </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.avgWinAmt | number:'1.2-5'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="AvgLossAmt">
          <mat-header-cell *matHeaderCellDef> AvgLossAmt </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.avgLossAmt | number:'1.2-5'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Expectancy">
          <mat-header-cell *matHeaderCellDef> Expectancy </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.expectancy | number:'1.2-5'}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="resultsColums;"
          style="min-height:fit-content; background-color:#3C3E3D; color: #DBD4D1;"></mat-header-row>
        <mat-row *matRowDef="let row; columns: resultsColums;"
          style="min-height:fit-content; background-color:#3C3E3D; color: #DBD4D1;"></mat-row>
      </mat-table>
    </div>

  </div>
  <div style="display: flex; flex-direction: column;">
    <div style="display:flex; gap: 1rem;">
      <mat-form-field style="width:fit-content;">
        <mat-label>Select a Stock</mat-label>
        <mat-select disableRipple [(value)]="selectedStockName">
          <mat-option *ngFor="let stock of distinctStocks" value="{{stock}}"
            (onSelectionChange)="onSelectedStockChange($event)">{{stock}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="intraDayChecked" style="width:fit-content;">
        <mat-label>Select a Date</mat-label>
        <mat-select disableRipple [(value)]="selectedDate">
          <mat-option *ngFor="let date of distinctDates" value="{{date}}"
            (onSelectionChange)="onSelectedDateChange($event)">{{date}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <canvas style="width:100% !important;" id="stock-chart">{{stockChart}}</canvas>
    <canvas style="width:100% !important;" id="rsi-chart">{{rsiChart}}</canvas>
  </div>

</div>
<ng-template #addLineTemplate>
  <app-add-line [listOfLinesIncoming]="listOfAddedLines"></app-add-line>
</ng-template>
<ng-template #addRuleTemplate>
  <app-add-rule [listOfRulesIncoming]="listOfAddedRules" [listOfLinesIncoming]="listOfAddedLines"></app-add-rule>
</ng-template>
<ng-template #algoLoopTemplate>
  <app-add-rule [listOfRulesIncoming]="listOfAddedRules"></app-add-rule>
</ng-template>