<div
    style="height: 60px; width: 100%; display: flex; border-bottom: 3px solid #FFFFFF; background-color: #3C3E3D; position: sticky; top: 0; left: 0; z-index: 100;">
    <div style=" height: 100%;  display:flex;">
        <a routerLink="/home" style="text-decoration: none; color: #240605; margin-top:auto; margin-bottom: auto;">
            <h1 class="logo">
                Stock Trading
            </h1>
        </a>
    </div>
    <div *ngIf="remult.authenticated()" class="top-button">
      <!-- <button mat-button style=" color: #DBD4D1; height:65%;margin: auto 0; width:auto" (click)="navToOrderHistory()">Order History</button> -->
        <button mat-button style=" color: #DBD4D1; height:65%;margin: auto 0; width:auto" (click)="logout()">Log Out</button>
        
        <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Change info">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <span>Change Username</span>
            </button>
            <button mat-menu-item>
              <span>Change Password</span>
            </button>
          </mat-menu> -->
    </div>
</div>
<router-outlet></router-outlet>