<h2 mat-dialog-title>Trade {{stockName}}</h2>
<mat-dialog-content>
    {{stockPrice}}
    <form class="auth-form">
        <mat-form-field class="example-full-width">
            <mat-label>Order Amount</mat-label>
            <input matInput type="number" [(ngModel)]="amountToBuyOrSell" placeholder="0.00">
        </mat-form-field>
    </form>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" (change)="changeBuyOrSell($event)" [hideSingleSelectionIndicator]="true">
        <mat-button-toggle  value="Sell">Sell</mat-button-toggle>
        <mat-button-toggle [checked]="true" value="Buy">Buy</mat-button-toggle>
    </mat-button-toggle-group>


</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close >Cancel</button>
    <button mat-button mat-dialog-close cdkFocusInitial (click)="onPlaceTradeClicked()">Submit</button>
</mat-dialog-actions>