<div style="display: flex; flex-direction: column;">
    <div style="display: flex; gap: 5px">
        <h2 style="border-right: 1px solid black;">TSLA: <span style="color: green;">4.67%</span></h2>
        <h2 style="border-right: 1px solid black;">AAPL: <span style="color: red;">2.94%</span></h2>
        <h2 style="border-right: 1px solid black;">PLTR: <span style="color: green;">2.32%</span></h2>
        <h2 style="border-right: 1px solid black;">MSFT: <span style="color: red;">1.35%</span></h2>
        <h2>AMD: <span style="color: green;">1.55%</span></h2>
    </div>
</div>
