.top-bar{
    width:100%;
    background-color: #3C3E3D;
    display: flex;
}
.dashboard{
    width:100%;
    background-color: #3C3E3D;
}
.canvas-container{
    width:75% !important;
    display:flex; 
    flex-direction: column;
}
h1, h2, h3,h4{
    color: #DBD4D1 !important;
}
.overlay{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    z-index:2;
    backdrop-filter: blur(2px);
}
.spinner{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
::ng-deep .mdc-data-table__header-cell{
    padding: 0 !important;
    color: #DBD4D1 !important;
}
::ng-deep .mdc-data-table__cell{
    padding: 0 !important;
    color: #DBD4D1 !important;
}
::ng-deep .mat-mdc-table{
    background-color: unset !important;
}
::ng-deep mat-header-cell:first-of-type{
    padding-left: 20px !important;
}
::ng-deep mat-cell:first-of-type{
    padding-left: 20px !important;
}
::ng-deep mat-


.table-div{
    background-color: #3C3E3D !important;
    border-radius: 8px;
    border: 1px solid hsl(18, 12%, 60%);
    box-shadow: 0 2px 4px #0000001a;
    display:flex; 
    justify-content: center; 
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    height: 500px;
}

