<div *ngIf="false" style="height: calc(100vh - 63px); width: 100%; background-color: #1F1E1F; display: flex; align-items: center;">
    <mat-spinner [mode]="'indeterminate'" style="margin:auto; color:white"></mat-spinner>
</div>
<div *ngIf="true" style="display:flex; flex-direction: column; height: calc(100vh - 63px);">
    <div class="top-bar">
        <div style="margin-left: 1rem;margin-top: auto;margin-bottom: auto; display: flex;align-items: center;">
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" (change)="userBotChange($event)" [hideSingleSelectionIndicator]="true">
                <mat-button-toggle [checked]="true" value="User">User</mat-button-toggle>
                <mat-button-toggle value="Bot">Bot</mat-button-toggle>
            </mat-button-toggle-group>
            <div *ngIf="isUserOrBot == 'Bot'" style="margin-left: 1rem; display: flex;align-items: center;">
                <mat-radio-group [color]="'accent'" (change)="onAlgoChanged($event)">
                    <mat-radio-button value="highLow">HighLow</mat-radio-button>
                    <mat-radio-button value="trend">Trend</mat-radio-button>
                </mat-radio-group>
                <div *ngIf="tempSelectedAlgo == 'trend'" style="margin-left:1rem;">
                    <form class="auth-form">
                        <mat-form-field class="example-full-width">
                            <mat-label>Starting index</mat-label>
                            <input matInput type="number" (ngModelChange)="trendAlgoStartingPointChanged()" [(ngModel)]="tempTrendAlgoStartingPoint" placeholder="0.00" [max]="chartData.history.length - 1" [min]="0">
                        </mat-form-field>
                    </form>
                </div>
                <button style="width: max-content; margin-top:auto; margin-bottom:auto;" mat-raised-button color="primary" aria-label="Confirm Algorithm" [disabled]="!isChangesToBot" (click)="confirmAlgo()">Save</button> 
                <button *ngIf="tempSelectedAlgo == 'trend' && tempTrendAlgoStartingPoint > 0" style="width: max-content; margin-top:auto; margin-bottom:auto;" mat-raised-button color="primary" aria-label="Confirm Algorithm" [disabled]="!isChangesToBot" (click)="resetAlgo()">Reset</button>   
            </div>
        </div>
        <button style="margin-left:auto; margin-top:auto; margin-bottom:auto;" mat-icon-button aria-label="Add more funds" (click)="showAddFunds()">
            <mat-icon>add</mat-icon>
          </button>
        <h3 style="padding-right:1rem;">{{userSimFinData[0].spending | currency:'USD':'symbol'}}</h3>
        <h3 style="padding-right:1rem;">{{userSimFinData[0].savings | currency:'USD':'symbol'}}</h3>
    </div>
    <div class="dashboard">
        <div style="padding-left: 1rem; padding-right:1rem; display:flex; flex-direction: column;">
            <div style="display: flex; gap:2rem;">
                <button style="width: max-content; margin-top:auto; margin-bottom:auto;"mat-raised-button color="primary" (click)="onStartWebSocket()">Start</button> 
                <button style="width: max-content; margin-top:auto; margin-bottom:auto;"mat-raised-button color="warn" aria-label="Add more funds" (click)="endStream()">ABORT!</button>    
                <h3>Bot: {{isBotAuthorized ? 'On' : 'Off'}}</h3>
            </div>
              <!-- <div>
                <button *ngFor="let mover of moversData" style="width: max-content;"mat-raised-button color="primary" aria-label="Add more funds" >{{mover.symbol}}</button>
            </div> -->
            
            <div style="width: 100%;display:flex;">
                <div class="canvas-container">
                    <canvas style="width:100% !important;" id="stock-chart">{{stockChart}}</canvas>
                    <canvas style="width:100% !important;" id="volume-chart">{{volumeChart}}</canvas>
                </div>
                <div style="display:flex; flex-direction: column;">
                    <h4>{{selectedStockCurrent}}</h4>
                    <h4>H:{{selectedStockHigh}}</h4>
                    <h4>L:{{selectedStockLow}}</h4>
                    <h4 *ngIf="isUserOrBot == 'Bot' && targetPrice != 0" style="color: #ff8f50 !important;">T:{{targetPrice | number:'1.2-5'}}</h4>
                </div>
                <div style="flex-grow: 1;">
                    <div style="padding: 1rem; display: flex;flex-direction: column;">
                        <button style="width: max-content; margin: auto;"mat-raised-button color="warn" aria-label="Add more funds" (click)="openTradePopup()">Trade</button>
                        <h2 style="text-align:center;">Active Positions</h2>
                        <div *ngIf="selectedStockData.shareQty > 0" style="display:flex; justify-content: center;  gap: 1rem;">
                            <h3>{{selectedStockData.stockName}}</h3>
                            <h3>{{selectedStockData.shareQty | number:'1.2-5'}}</h3>
                            <h3>{{(selectedStockData.shareQty * selectedStockCurrent) | number:'1.2-5'}}</h3>
                        </div>
                        <div *ngIf="selectedStockData.shareQty == 0" style="display:flex; justify-content: center;">
                            <h3>No Active Positions</h3>
                        </div>
                        <h2 style="text-align:center;">Trade History</h2>
                        <div>
                            <h3 style="text-align: center;">Total: {{this.selectedStockTotalNet | currency:'USD':'symbol'}}</h3>
                        </div>
                        <div *ngIf="selectedStockHistoryData.length > 0" style="display:flex; justify-content: center; flex-direction: column;overflow-y: scroll;scrollbar-width: none;">
                            <div *ngFor="let trade of selectedStockHistoryData" style="display: flex;justify-content: space-evenly; ">
                                <h3>{{trade.orderType}}</h3>
                                <h3>{{trade.stockName}}</h3>
                                <h3>{{trade.shareQty | number:'1.2-5'}}</h3>
                                <h3>{{trade.stockPrice | number:'1.2-3'}}</h3>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
</div>
<ng-template #modalTemplate>
    <app-trade [stockName]="chartData.name" [stockPrice]="selectedStockCurrent" 
     [stockTime]="chartData.time[chartData.time.length - 1]"[ownedShares]="selectedStockData.shareQty"
     [availableFunds]="userSimFinData[0]!.spending" [orderHistory]="selectedStockHistoryData[0]">
    </app-trade>
</ng-template>