<div mat-dialog-title style="display: flex; justify-content: center; flex-direction: column;">
    <h2 style="margin-top: 0; margin-bottom: 0;">Add Rules</h2>
</div>
<mat-dialog-content style="display: flex;flex-direction: column;">
    <div style="display:flex;">
        <div style="width:50%; display:flex; flex-direction: column;">
            <h5>Buy</h5>
            <button style="margin-top:auto; margin-bottom:auto;" mat-icon-button aria-label="Add Line"
                (click)="addBuyRule()">
                <mat-icon style="color: black;">add</mat-icon>
            </button>
            <div *ngIf="listOfRulesIncoming.BuyRules.length > 0" style="display:flex; flex-direction: column;">
                <div *ngFor="let buyRule of listOfRulesIncoming.BuyRules">
                    <h4 *ngIf="buyRule.id == 0">Buy When:</h4>
                    <h4 *ngIf="buyRule.id > 0">And</h4>
                    <mat-form-field style="width:fit-content;">
                        <mat-label>Condition</mat-label>
                        <mat-select disableRipple [(value)]="buyRule.conditionType">
                            <mat-option *ngFor="let type of buyConditionTypes" [value]="type"
                                (onSelectionChange)="onSelectedBuyConditionTypeChange($event, buyRule.id, type)">{{type}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="buyRule.conditionType == 'Time'" style="width:fit-content;">
                        <mat-label>Time Period</mat-label>
                        <mat-select disableRipple [(value)]="buyRule.primaryObject">
                            <mat-option *ngFor="let time of timeConditions" [value]="time"
                                (onSelectionChange)="onSelectedBuyTimeTypeChange($event, buyRule.id, time)">{{time}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="buyRule.conditionType == 'Time'" class="example-full-width"
                        style="width:fit-content;">
                        <mat-label>Minutes</mat-label>
                        <input matInput type="number" [(ngModel)]="buyRule.buyTime" placeholder="0.00" [min]="0"
                            step="1000">
                    </mat-form-field>
                    <mat-form-field *ngIf="buyRule.conditionType == 'Line'" style="width:fit-content;">
                        <mat-label>Primary Line</mat-label>
                        <mat-select disableRipple [(value)]="buyRule.primaryObject.name">
                            <mat-option *ngFor="let line of availableLines"
                                [value]="line.lineType + ' - ' + line.lineLength"
                                (onSelectionChange)="onSelectedBuyRuleTypeChange($event, buyRule.id, line)">{{isAllLine(line.lineType)
                                ? line.lineType : line.lineType + ' - ' + line.lineLength}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="buyRule.conditionType == 'Line'" style="width:fit-content;">
                        <mat-label>Action</mat-label>
                        <mat-select disableRipple [(value)]="buyRule.desiredAction.type">
                            <mat-option *ngFor="let buyAction of availableBuyActions" [value]="buyAction"
                                (onSelectionChange)="onSelectedBuyActionTypeChange($event, buyRule.id, buyAction)">{{buyAction}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field
                        *ngIf="buyRule.conditionType == 'Line' && buyRule.desiredAction.type != 'Trend Crosses Above:'"
                        style="width:fit-content;">
                        <mat-label>Referenced Object</mat-label>
                        <mat-select disableRipple [(value)]="buyRule.referencedObject.name">
                            <mat-option *ngFor="let line of availableLines"
                                [value]="line.lineType + ' - ' + line.lineLength"
                                (onSelectionChange)="onSelectedBuyReferencedObjectTypeChange($event, buyRule.id, line)">{{isAllLine(line.lineType)
                                ? line.lineType : line.lineType + ' - ' + line.lineLength}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="buyRule.desiredAction.type == 'Trend Crosses Above:'"
                        class="example-full-width" style="width:fit-content;">
                        <mat-label>Trend Length</mat-label>
                        <input matInput type="number" [(ngModel)]="buyRule.desiredAction.length" placeholder="0.00"
                            [min]=".001" step=".001">
                    </mat-form-field>
                    <mat-form-field
                        *ngIf="(buyRule.desiredAction.type == 'Dips below:' || buyRule.desiredAction.type == 'Rises above:' || buyRule.desiredAction.type == 'Trend Crosses Above:') && buyRule.conditionType == 'Line'"
                        class="example-full-width" style="width:fit-content;">
                        <mat-label>By Amount:</mat-label>
                        <input matInput type="number" [(ngModel)]="buyRule.desiredAction.amount" placeholder="0.00"
                            [min]="0.001" [max]="1" step=".001">
                    </mat-form-field>
                    <button style="margin-top:auto; margin-bottom:auto;" mat-icon-button aria-label="Delete Line"
                        (click)="removeBuyRule(buyRule.id)">
                        <mat-icon style="color: black;">delete</mat-icon>
                    </button>
                </div>

            </div>

        </div>
        <div style="width:50%;">
            <h5>Sell</h5>
            <button style="margin-top:auto; margin-bottom:auto;" mat-icon-button aria-label="Add Line"
                (click)="addSellRule()">
                <mat-icon style="color: black;">add</mat-icon>
            </button>
            <div *ngIf="listOfRulesIncoming.SellRules.length > 0" style="display:flex; flex-direction: column;">
                <div *ngFor="let sellRule of listOfRulesIncoming.SellRules">
                    <h4 *ngIf="sellRule.id == 0">Sell When: </h4>
                    <!-- <h4 *ngIf="sellRule.id > 0">And</h4> -->
                    <mat-form-field *ngIf="sellRule.id > 0" style="width:fit-content;">
                        <mat-label>And/Or</mat-label>
                        <mat-select disableRipple [(value)]="sellRule.andOr">
                            <mat-option *ngFor="let andOr of andOrList" [value]="andOr"
                                (onSelectionChange)="onSelectedSellRuleAndOrTypeChange($event, sellRule.id, andOr)">{{andOr}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field style="width:fit-content;">
                        <mat-label>Condition Type</mat-label>
                        <mat-select disableRipple [(value)]="sellRule.conditionType">
                            <mat-option *ngFor="let type of sellConditionTypes" [value]="type"
                                (onSelectionChange)="onSelectedSellRuleConditionTypeChange($event, sellRule.id, type)">{{type}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="sellRule.conditionType == 'Line Action'" style="width:fit-content;">
                        <mat-label>Primary Line</mat-label>
                        <mat-select disableRipple [(value)]="sellRule.primaryObject.name">
                            <mat-option *ngFor="let line of availableLines"
                                [value]="line.lineType + ' - ' + line.lineLength"
                                (onSelectionChange)="onSelectedSellRuleTypeChange($event, sellRule.id, line)">{{isAllLine(line.lineType)
                                ? line.lineType : line.lineType + ' - ' + line.lineLength}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="sellRule.conditionType == 'Line Action'" style="width:fit-content;">
                        <mat-label>Action</mat-label>
                        <mat-select disableRipple [(value)]="sellRule.desiredAction.type">
                            <mat-option *ngFor="let buyAction of availableSellLineActions" [value]="buyAction"
                                (onSelectionChange)="onSelectedSellActionTypeChange($event, sellRule.id, buyAction)">{{buyAction}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="sellRule.conditionType == 'Price Action'" style="width:fit-content;">
                        <mat-label>Action</mat-label>
                        <mat-select disableRipple [(value)]="sellRule.desiredAction.type">
                            <mat-option *ngFor="let buyAction of availableSellPriceActions" [value]="buyAction"
                                (onSelectionChange)="onSelectedSellActionTypeChange($event, sellRule.id, buyAction)">{{buyAction}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field
                        *ngIf="sellRule.conditionType == 'Line Action' && sellRule.desiredAction.type != 'Trend Crosses Below:'"
                        style="width:fit-content;">
                        <mat-label>Referenced Object</mat-label>
                        <mat-select disableRipple [(value)]="sellRule.referencedObject.name">
                            <mat-option *ngFor="let line of availableLines"
                                [value]="line.lineType + ' - ' + line.lineLength"
                                (onSelectionChange)="onSelectedSellReferencedObjectTypeChange($event, sellRule.id, line)">{{isAllLine(line.lineType)
                                ? line.lineType : line.lineType + ' - ' + line.lineLength}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="sellRule.desiredAction.type == 'Trend Crosses Below:'"
                        class="example-full-width" style="width:fit-content;">
                        <mat-label>Trend Length</mat-label>
                        <input matInput type="number" [(ngModel)]="sellRule.desiredAction.length" placeholder="0.00"
                            [min]=".001" step=".001">
                    </mat-form-field>
                    <mat-form-field
                        *ngIf="((sellRule.desiredAction.type == 'Rises above:' || sellRule.desiredAction.type == 'Trend Crosses Below:') && sellRule.conditionType == 'Line Action') || sellRule.conditionType == 'Price Action'"
                        class="example-full-width" style="width:fit-content;">
                        <mat-label>By Amount:</mat-label>
                        <input matInput type="number" [(ngModel)]="sellRule.desiredAction.amount" placeholder="0.00"
                            [min]=".001" step=".001">
                    </mat-form-field>
                    <button style="margin-top:auto; margin-bottom:auto;" mat-icon-button aria-label="Delete Line"
                        (click)="removeSellRule(sellRule.id)">
                        <mat-icon style="color: black;">delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>


    </div>
    <div style="margin-top:2rem; gap: 1rem;">
        <mat-form-field class="example-full-width" style="width:fit-content;">
            <mat-label>Number of Losses to stop</mat-label>
            <input matInput type="number" [(ngModel)]="listOfRulesIncoming.NumberOfLossesInARowToStop" placeholder="0"
                [min]="0" step="1">
        </mat-form-field>
        <mat-form-field *ngIf="sellRulesContainsStopLoss()" class="example-full-width" style="width:fit-content;">
            <mat-label>Stop Loss Timout - Minutes</mat-label>
            <input matInput type="number" [(ngModel)]="listOfRulesIncoming.TimeOutAfterStopLossSell" placeholder="0"
                [min]="0" step="1">
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button cdkFocusInitial (click)="onSubmit()">Save</button>
</mat-dialog-actions>