<div mat-dialog-title style="display: flex; justify-content: center; flex-direction: column;">
    <h2 style="margin-top: 0; margin-bottom: 0;">Loop Definition</h2>
</div>
<mat-dialog-content style="display: flex;">
    <div style="width:50%; display:flex; flex-direction: column;">
        <h5>Buy</h5>
        <div *ngIf="listOfRulesIncoming.BuyRules.length > 0" style="display:flex; flex-direction: column;">
            <div *ngFor="let buyRule of listOfRulesIncoming.BuyRules" style="display: flex; flex-direction: column;">
                <h4 *ngIf="buyRule.id == 0">Buy When:</h4>
                <h4 *ngIf="buyRule.id > 0">And</h4>
                <div style="display:flex;">
                    <mat-form-field style="width:fit-content;">
                        <mat-label>Condition</mat-label>
                        <input [disabled]="true" matInput type="text" [(ngModel)]="buyRule.conditionType">
                    </mat-form-field>
                </div>

                <mat-form-field *ngIf="buyRule.conditionType == 'Time'" style="width:fit-content;">
                    <mat-label>Time Period</mat-label>
                    <input [disabled]="true" matInput type="text" [(ngModel)]="buyRule.buyTimeType">
                </mat-form-field>
                <div style="display:flex; gap:.5rem;" *ngIf="buyRule.conditionType == 'Time'">
                    <mat-form-field class="example-full-width" style="width:fit-content;">
                        <mat-label>Minutes</mat-label>
                        <input [disabled]="true" matInput type="number" [(ngModel)]="buyRule.buyTime">
                    </mat-form-field>
                    <mat-checkbox [(ngModel)]="buyRule.buyTimeChecked">Add</mat-checkbox>
                    <div *ngIf="buyRule.buyTimeChecked">
                        <mat-form-field style="width:fit-content;">
                            <mat-label>From</mat-label>
                            <input matInput type="number" [(ngModel)]="buyRule.buyTimeCheckFromAmnt">
                        </mat-form-field>
                        <mat-form-field style="width:fit-content;">
                            <mat-label>To</mat-label>
                            <input matInput type="number" [(ngModel)]="buyRule.buyTimeCheckToAmnt">
                        </mat-form-field>
                        <mat-form-field style="width:fit-content;">
                            <mat-label>Step</mat-label>
                            <input matInput type="number" [(ngModel)]="buyRule.buyTimeCheckStepAmnt">
                        </mat-form-field>
                    </div>
                </div>

                <div *ngIf="buyRule.conditionType == 'Line'">
                    <mat-form-field style="width:fit-content;">
                        <mat-label>Primary Line</mat-label>
                        <input [disabled]="true" matInput type="text" [(ngModel)]="buyRule.primaryObject.name">
                    </mat-form-field>
                    <mat-checkbox [(ngModel)]="buyRule.primaryObject.lengthLoopChecked">Add</mat-checkbox>
                    <div *ngIf="buyRule.primaryObject.lengthLoopChecked">
                        <mat-form-field style="width:fit-content;">
                            <mat-label>From</mat-label>
                            <input matInput type="number" [(ngModel)]="buyRule.primaryObject.lengthLoopCheckFromAmnt">
                        </mat-form-field>
                        <mat-form-field style="width:fit-content;">
                            <mat-label>To</mat-label>
                            <input matInput type="number" [(ngModel)]="buyRule.primaryObject.lengthLoopCheckToAmnt">
                        </mat-form-field>
                        <mat-form-field style="width:fit-content;">
                            <mat-label>Step</mat-label>
                            <input matInput type="number" [(ngModel)]="buyRule.primaryObject.lengthLoopCheckStepAmnt">
                        </mat-form-field>
                    </div>
                </div>

                <mat-form-field *ngIf="buyRule.conditionType == 'Line'" style="width:fit-content;">
                    <mat-label>Action</mat-label>
                    <input [disabled]="true" matInput type="text" [(ngModel)]="buyRule.desiredAction.type">
                </mat-form-field>
                <mat-form-field
                    *ngIf="buyRule.conditionType == 'Line' && buyRule.desiredAction.type != 'Trend Crosses Above:'"
                    style="width:fit-content;">
                    <mat-label>Referenced Object</mat-label>
                    <input [disabled]="true" matInput type="text" [(ngModel)]="buyRule.referencedObject.name">
                </mat-form-field>
                <div *ngIf="buyRule.desiredAction.type == 'Trend Crosses Above:'">
                    <mat-form-field class="example-full-width" style="width:fit-content;">
                        <mat-label>Trend Length</mat-label>
                        <input [disabled]="true" matInput type="number" [(ngModel)]="buyRule.desiredAction.length">
                    </mat-form-field>
                    <mat-checkbox [(ngModel)]="buyRule.desiredAction.lengthLoopChecked">Add</mat-checkbox>
                    <div *ngIf="buyRule.desiredAction.lengthLoopChecked">
                        <mat-form-field style="width:fit-content;">
                            <mat-label>From</mat-label>
                            <input matInput type="number" [(ngModel)]="buyRule.desiredAction.lengthLoopCheckFromAmnt">
                        </mat-form-field>
                        <mat-form-field style="width:fit-content;">
                            <mat-label>To</mat-label>
                            <input matInput type="number" [(ngModel)]="buyRule.desiredAction.lengthLoopCheckToAmnt">
                        </mat-form-field>
                        <mat-form-field style="width:fit-content;">
                            <mat-label>Step</mat-label>
                            <input matInput type="number" [(ngModel)]="buyRule.desiredAction.lengthLoopCheckStepAmnt">
                        </mat-form-field>
                    </div>
                </div>
                <div
                    *ngIf="(buyRule.desiredAction.type == 'Dips below:' || buyRule.desiredAction.type == 'Rises above:' || buyRule.desiredAction.type == 'Trend Crosses Above:') && buyRule.conditionType == 'Line'">
                    <mat-form-field class="example-full-width" style="width:fit-content;">
                        <mat-label>By Amount:</mat-label>
                        <input [disabled]="true" matInput type="number" [(ngModel)]="buyRule.desiredAction.amount">
                    </mat-form-field>
                    <mat-checkbox [(ngModel)]="buyRule.desiredAction.amountLoopChecked">Add</mat-checkbox>
                    <div *ngIf="buyRule.desiredAction.amountLoopChecked">
                        <mat-form-field style="width:fit-content;">
                            <mat-label>From</mat-label>
                            <input matInput type="number" [(ngModel)]="buyRule.desiredAction.amountLoopCheckFromAmnt">
                        </mat-form-field>
                        <mat-form-field style="width:fit-content;">
                            <mat-label>To</mat-label>
                            <input matInput type="number" [(ngModel)]="buyRule.desiredAction.amountLoopCheckToAmnt">
                        </mat-form-field>
                        <mat-form-field style="width:fit-content;">
                            <mat-label>Step</mat-label>
                            <input matInput type="number" [(ngModel)]="buyRule.desiredAction.amountLoopCheckStepAmnt">
                        </mat-form-field>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <div style="width:50%;">
        <h5>Sell</h5>
        <div *ngIf="listOfRulesIncoming.SellRules.length > 0" style="display:flex; flex-direction: column;">
            <div *ngFor="let sellRule of listOfRulesIncoming.SellRules">
                <h4 *ngIf="sellRule.id == 0">Sell When: </h4>
                <!-- <h4 *ngIf="sellRule.id > 0">And</h4> -->
                <mat-form-field *ngIf="sellRule.id > 0" style="width:fit-content;">
                    <mat-label>And/Or</mat-label>
                    <mat-select [disabled]="true" [placeholder]="sellRule.andOr" disableRipple
                        [(value)]="sellRule.andOr">
                    </mat-select>
                </mat-form-field>
                <mat-form-field style="width:fit-content;">
                    <mat-label>Condition Type</mat-label>
                    <mat-select [disabled]="true" [placeholder]="sellRule.conditionType" disableRipple
                        [(value)]="sellRule.conditionType">
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="sellRule.conditionType == 'Line Action'" style="width:fit-content;">
                    <mat-label>Primary Line</mat-label>
                    <mat-select [disabled]="true" [placeholder]="sellRule.primaryObject.name" disableRipple
                        [(value)]="sellRule.primaryObject.name">
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="sellRule.conditionType == 'Line Action'" style="width:fit-content;">
                    <mat-label>Action</mat-label>
                    <mat-select [disabled]="true" [placeholder]="sellRule.desiredAction.type" disableRipple
                        [(value)]="sellRule.desiredAction.type">
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="sellRule.conditionType == 'Price Action'" style="width:fit-content;">
                    <mat-label>Action</mat-label>
                    <mat-select [disabled]="true" [placeholder]="sellRule.desiredAction.type" disableRipple
                        [(value)]="sellRule.desiredAction.type">
                    </mat-select>
                </mat-form-field>
                <mat-form-field
                    *ngIf="sellRule.conditionType == 'Line Action' && sellRule.desiredAction.type != 'Trend Crosses Below:'"
                    style="width:fit-content;">
                    <mat-label>Referenced Object</mat-label>
                    <mat-select [disabled]="true" [placeholder]="sellRule.referencedObject.name" disableRipple
                        [(value)]="sellRule.referencedObject.name">
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="sellRule.desiredAction.type == 'Trend Crosses Below:'" class="example-full-width"
                    style="width:fit-content;">
                    <mat-label>Trend Length</mat-label>
                    <input [disabled]="true" matInput type="number" [(ngModel)]="sellRule.desiredAction.length"
                        placeholder="0.00" [min]=".001" step=".001">
                </mat-form-field>
                <mat-form-field
                    *ngIf="((sellRule.desiredAction.type == 'Rises above:' || sellRule.desiredAction.type == 'Trend Crosses Below:') && sellRule.conditionType == 'Line Action') || sellRule.conditionType == 'Price Action'"
                    class="example-full-width" style="width:fit-content;">
                    <mat-label>By Amount:</mat-label>
                    <input [disabled]="true" matInput type="number" [(ngModel)]="sellRule.desiredAction.amount"
                        placeholder="0.00" [min]=".001" step=".001">
                </mat-form-field>
            </div>
        </div>
    </div>



</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button cdkFocusInitial (click)="onSubmit()">Run Sim</button>
</mat-dialog-actions>